http://pypi.python.org/packages/source/n/numpy/numpy-1.6.2.tar.gz
http://pypi.python.org/packages/source/s/scipy/scipy-0.10.1.tar.gz
http://www.crummy.com/software/BeautifulSoup/bs4/download/4.1/beautifulsoup4-4.1.1.tar.gz
